<div id="dshoso">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title">Danh Sách Hồ Sơ</h4>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                id="dropdownMenuIconButton1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa fa-filter"> Lọc</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
                                <h6 class="dropdown-header">Settings</h6>
                                <a class="dropdown-item" href="#">Theo người duyệt</a>
                                <a class="dropdown-item" href="#">Theo trạng thái</a>
                                <a class="dropdown-item" href="#">Theo ngày</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary">
                                <i class="fas fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <button type="button" class="btn btn-outline-secondary"><i class="fa fa-file-export"> Xuất
                            thống kê</i></button>
                </div>
                <!-- <div class="col-md-2 col-sm-2 col-xs-4">
                        
                    </div> -->
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <!-- <th>
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                            </label>
                        </th> -->
                        <th>Tên kế hoạch</th>
                        <th>Từ ngày - Đến ngày</th>
                        <th>Nội dung</th>
                        <th>Người duyệt</th>
                        <th>Trạng thái</th>
                        <th>Mức độ đạt</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hoSo of dsHoSo, let i = index">
                        <td data-label="STT">{{hoSo.Id}}</td>
                        <!-- <td data-label="Chọn">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                            </label>
                        </td> -->
                        <td class="mobile_minwidth" data-label="Tên kế hoạch">
                            <a>{{hoSo.Ten}}</a>
                        </td>
                        <td data-label="Từ ngày - Đến ngày">{{hoSo.NgayBatDau | date: 'dd/MM/yyyy'}} -
                            {{hoSo.NgayKetThuc | date: 'dd/MM/yyyy'}} </td>
                        <td class="mobile_minwidth" data-label="Nội dung">{{hoSo.NoiDung}}</td>
                        <td data-label="Người duyệt">{{hoSo.NguoiDuyet}}</td>
                        <td data-label="Trạng thái" style="color: darkgoldenrod;" *ngIf="hoSo.TrangThai==1">Chờ duyệt</td>
                        <td data-label="Trạng thái" style="color: green;" *ngIf="hoSo.TrangThai==2">Đã Đuyệt</td>
                        <td data-label="Trạng thái" style="color: red;"*ngIf="hoSo.TrangThai==0">Đã bị hủy</td>
                        <td data-label="Mức độ đạt">{{hoSo.TieuChuan}}</td>
                        <td data-label="Thao tác" class="thaotac">
                            <a href="#" onclick="" data-caption="View"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>